*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.container{
 width:100%;
}
.box {
    float: left;
    width: 30%;
    height: 100px;
    background-color: gray;
    margin-right: 2%;
    margin-left: 1%;
    margin-bottom: 20px;
}

@media only screen and (max-width: 767px) {
    .box {
        width: 100%;
        margin-right: 0;
    }
}